.itemBlock{
    background-color: white;
    width: 80%;
    height: 80%;
    border: 1px solid  #99e038;
    margin: auto;
    padding: 5px;
    display: flex;


}
img{
    width: 130px;
    height: 130px;
    border: 1px solid black;
    margin: 0 auto;
    align-self: top;

}

@media (max-width: 992px) {
    .itemBlock {
        height: 60%;
        width: 80%;
    }
}
@media (max-width: 600px) {
    .itemBlock {
        width: 70%;
        height: 80%;
    }
}
@media (max-width: 440px) {
    .itemBlock {
        width: 80%;
        height: 80%;
    }
}