.tableBlock{
    background-color: white;
    border: 5px solid black;
    width: 50%;
    height: 50%;
    grid-area: table;
    margin: 0 auto;
    display: grid;
    background-color: #ff9900;
}
@media (max-width: 600px) {
    .tableBlock{
        width: 60%;
    }
}
@media (max-width: 440px) {
    .tableBlock {
        width: 80%;
        height: 80%;
    }
}
.header{
    font-size: 24px;
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
    margin-top: 10px;


}

.table{
    border-collapse: collapse;
    max-height: 50%;
    margin: 0 auto;
    width: 50%;
}
@media (max-height: 850px) {
    .tableBlock {
        background-color: #99e038;
        border: none;
    }}

.tableItem{
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    text-align: center;

}
.pokemonImg{
    width: 90%;
    height: 36%;
}
