#root{
    width:100% ;
    height: 100%;
}

body {
    background-color: #32cd32;


}

body, html {
    height: 100%
}

.wrapper {

    background-color: rgba(50, 205, 50, 0.81);
    max-width: 1600px;
    height: 100%;
    display: grid;
    margin: 10px auto;
    padding: 0 15px;
    position: relative;

    grid-template-rows: 100px 1fr 50px ;
    grid-template-columns: 1fr 40%;
    grid-template-areas:
            "header header"
    " main table"
    "buton buton";

}
@media (max-width: 1600px) {
    .wrapper{
        max-width: 970px;
    }
}
@media (max-width: 994px) {
    .wrapper{
        max-width: 750px;
        grid-template-areas:
            "header header"
    " table table"
    "main main";

    }
}
@media (max-width: 767px) {
    .wrapper {
        max-width: none;

    }
}
    @media (max-width: 600px) {
        .wrapper{

            max-width: none;
            display: grid;
            grid-template-rows: 80px  30% 50% 50px ;
            grid-template-columns: 1fr;
            grid-template-areas:
"header"
" table "
" main"
"buton";
        }
}


